<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/bootstrap-4.5.0.min.css">
    <link rel="stylesheet" href="../static/home.css">
</head>

<body>
    <input type="text" hidden style="display: none" th:value="${cameraPort}" id="cameraPortId" />

    <div class="text-center pt-4">
        <img id="stream" style="display: block; -webkit-user-select: none; margin: auto;" />
    </div>

    <div class="tbl-cnt">
        <table>
            <tr>
                <td><div class="table-bt" style="background-color: #581845;" onclick="communication('/motor/left')">Motor Turn Left</div></td>
                <td><div class="table-bt" style="background-color: #900C3F;" onclick="communication('/motor/right')">Motor Turn Right</div></td>
            </tr>
            <tr>
                <td><div class="table-bt" style="background-color: #aa4a8d;" onclick="communication('/motor/all/left')">Turn All The Way To The Left</div></td>
                <td><div class="table-bt" style="background-color: #d4043f;" onclick="communication('/motor/all/right')">Turn All The Way To The Right</div></td>
            </tr>
            <tr>
                <td><div class="table-bt" style="background-color: #FFC30F;" onclick="communication('/led/on')">Light Turn On</div></td>
                <td><div class="table-bt" style="background-color: #FF5733;" onclick="communication('/led/off')">Light Turn Off</div></td>
            </tr>
        </table>
    </div>


    <script src="../static/axios.min-0.27.2.js"></script>
</body>

<script>
    function communication(endpoint) {
        axios({
            method: 'get',
            url: endpoint
        }).then(function (response) {
            if (response.data === "OK") {
                console.log("OK" + endpoint);
            } else {
                console.log("Unsuccessful!");
            }
        });
    }

    window.onload = function () {
        document.getElementById('stream').src = getCurrentUrl();
    };

    function getCurrentUrl() {
        const url = new URL(window.location.href);
        return 'http://' + url.hostname + ':' + document.getElementById("cameraPortId").value;
    }
</script>

</html>